*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #ececec;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cabeçalho{
    background-color: aliceblue;
    padding: 10px 100px;
}

#cabeçalho img{
    width: 80px;
}

#area-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    height: 75vh;
    
}

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    max-width: 300px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.conteiner h1{
    color: #222222;
    margin-bottom: 5px;
}

.conteiner span{
    width: 50px;
    border: solid 1px #004A8d;
}

.form-group{
    margin: 20px;
}

.form-group label{
    display:block;
    margin-bottom: 5px;
}

.form-group input{
    width: 100%;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
}

 button{
    background-color: #fdc280;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #f7941e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}

#resultado{
    font-weight: 500;
    margin-top: 20px;
    color: #555555;
}

#rodape{
    background-color: #222222;
    color: #ececec;
    padding: 10px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}